.container-fluid{ 'ng-app' => 'todoApp'}
  .panel.panel-success
    .panel-heading
      %h1{ 'ng-if' => 'name' } {{name}}
    .panel-body
      %form.form-inline
        .form-group
          %input.form-control{ type: 'text', placeholder: 'Enter your name', autofocus: 'autofocus', 'ng-model' => 'name'}